:root{
    --gap: 3rem;
    --dark-red: #A94438;
    --white-bege:#E4DEBE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

html{
    font-size: 62.5;
    scroll-behavior: smooth;
}

h1, h2, h3, h4,h5,h6{
    font-family: 'MedievalSharp', cursive;
}
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
h2{
    font-size: 5.5rem;
}
h3{
    font-size: 5rem;
}
h4{
    font-size: 4.5rem;
}
h5{
    font-size: 4rem;
}
h6{
    font-size: 3.5rem;
}

p::selection, label::selection, h3::selection{
    background-color: black;
    color: rgb(227, 85, 8);

}

.responsive-table{
    overflow: hidden;
    overflow-x: auto;
}

table{
    min-width: 300px;
    width: 100%;
    border-collapse: collapse;
}

table td, table th, table caption{
    white-space: nowrap;
    padding: 0.5rem;
    border: 0.1rem solid var(--dark-red);
}

table caption{
    font-weight: bold;
    background-color: #ec958c;
}


.main-bg{
    font-family:'OpenSans',sans-serif;
    font-size: 1.6rem;
    background-image: url("/assets/img/confetti-doodles.svg");
    background-size: cover;
    background-position: center;
}

.menu-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.section{
    min-height: 100vh;

}

.menu {
    background: var(--dark-red);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0.0625rem 0.2rem 1rem var(--dark-red);
    z-index: 1;

}

.menu h1{
    font-size: 1.8rem;
    color: var(--white-bege);
}

.menu h1 a{
    color: inherit;
    font-size: 3rem;
}

.menu ul{
    list-style: none;
    display: flex;
    
}
.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--white-bege);
    font-weight: bold;
    font-family: 'MedievalSharp', cursive;
    position: relative;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1.3rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--white-bege);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}

.menu-spacing{
    height: 97px;
}

.intro-content{
    position: relative;
    top: -7rem;
    padding: var(--gap);
    color: var(--white-bege);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap:var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img{
    max-width: 100%;


}


.intro-text-content h2{
    font-size: 6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.section{
    background-color: var(--white-bege);
    display: flex;
    align-items: center;
    justify-content: center;
}

.top3-content{
    max-width: 65rem;
    flex-flow: column wrap;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.top3-content h2,p{
    margin-bottom: 3rem;
}

#grid-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-one-content{
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    color: var(--white-bege);
    max-width: 60rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:var(--gap);
}

.gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;
    filter: blur(2px);
    border-radius: 20%;
    height: 15rem;
}

.gallery-img img:hover{
    filter: blur(0px);

    transform:translate(-3%,3%) scale(1.2) rotate(5deg);
}

#gallery-h1{
    color: black;
}

#gallery-h3{
    color: black;

}

.contact-form{
    grid-column: span 2;
}


.contact-form .form-grid {
    border:none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:var(--gap);
}

.form-group{
    flex: 1 1 320px;
}

.form-group label{
    font-weight: bold;
    display: block;
    color: rgb(0, 0, 0);
    
}

.form-group input, .form-group textarea{
    border: none;
    background: var(--white-bege);
    padding: 1.5rem 2rem;
    width: 100%;
}


body .full-width{
    width: 100%;
    flex: 1 1 100%;
}

.form-group button{
    border-radius: 5%;
    padding: 0.5rem;
    font-size: 2rem;
    border: 0.2rem solid  var(--white-bege);
    background-color: var(--dark-red);
    color: var(--white-bege);
    transition: all 300ms ease-in-out;
}


.form-group button:hover{
    cursor: pointer;
    background: var(--white-bege);
    color: var(--dark-red);
}

.contact-section{
    align-items: center;
    display: flex;
    justify-content: center;
}

.form-grid legend{
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 3rem;
}

.contact-form{
    align-items: center;
    display: flex;
    justify-content: center;
}

@media(max-width: 800px){
    .intro-content, .grid{
        grid-template-columns: 1fr;
    }
}